*{
    box-sizing: border-box;
    /*background-color: beige;*/
}
#header{
    display: inline-block;
    position: sticky;
}
#logo{
    height: 150px;
    width: 150px;
    float: left;
}
#logo > img{
    width: 150px;/*100%;*/
    height: 150px;/*100%;*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#menu{
    background-color: aquamarine;
    height: 85px;

    margin-top: 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    align-content: space-around;
    align-items: center;
}
.linknav{
    text-decoration: none;
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;

    border: 1px solid black;
    height: 85px;
    width: 146px;
    padding-top: 5px;

    margin-left: 5px;

    border-radius: 15px;
}
.linknav > img{
    height: 47px;
    width: 47px;
}

#title-note{
    justify-content: space-between;
    margin-top: 5px;
    border-radius: 25px;
    border: 1px solid black;

    height: 80px;
    margin-bottom: 15px;
    text-align: center;

    font-size: 75%;
}

#school-image{
    border-radius: 25px;
    border: 1px solid black;
    margin-bottom: 15px;

    height: 250px;
    text-align: center;
}

#footer{
    border-radius: 5px;
    border: 1px solid black;

    height: 72px;
    justify-content: space-between;
}

.footer-icone img{
    display: block;
    height: 47px;
    width: 47px;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.footer-center{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 15px;
    text-align: center;

    border: 2px solid black;
}
#search-bar{ 
    margin-top: 25px;
}
#search-bar img{
    height: 18px;
    width: 18px;
}
#search-bar button{
    box-sizing: border-box;
    border: none;  
}
#search-bar input{
    height: 25px;
    box-sizing: border-box;
    border:1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#search-bar-container{
    border: solid 1px black;
    border-radius: 10px;
    padding-top: 10px;
}
#select-box{
    margin-top: 10px;
    margin-bottom: 10px;
}
#fitler-box{
    margin-top: 30px;
}

#list-ue{
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    row-gap: 10px;
    column-gap: 10px;

    border: 1px solid black;
    border-radius: 25px;
    
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*Modal Notes*/
*{
    box-sizing: border-box;
    text-align: center;
}
#modalNotes{
    width: 100%;
    min-height: 200px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    margin-bottom: 10px;

    border: 2px solid black;
}

/*TABLEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
#table-form{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid purple; 

    padding-left: 10px;
}
tbody tr:nth-child(odd){
    background-color: beige;
}
tbody tr:nth-child(even){
    background-color: thistle;
}
thead th:nth-child(1){
    width:2%;
    /*text-align: center;*/
}
thead th:nth-child(2){
    width:10%;
    /*text-align: center;*/
}
thead th:nth-child(3){
    width:30%;
    /*text-align: center;*/
}
thead th:nth-child(4){
    width:20%;
    /*text-align: center;*/
}
thead th:nth-child(5){
    width:20%;
    /*text-align: center;*/
}
/**/
#modalNote-header{
    padding: 15px;
    height: 80px;
    width: 100%;
    /*border-bottom: solid black 2px;*/
}
#modalNote-header-1{
    /*text-align: left;*/
    display: inline-block;
    float: left;
}
#modalNote-header-2{
    display: inline-block;
    float: right;
}
#modalNote-body{
    height: 500px;
    /*max-height: fit-content;*/
    width: 100%;
    /*height: 100%;*/
    /*border-bottom: solid black 1px;*/
    /*overflow-y: scroll-behavior; */
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#modalNote-footer button{
    padding: 15px;
    width: 35%;
    border-radius: 16px;

    border: none;

    box-shadow: 0px 0px 2px 2px rgb(35, 11, 170);
}
   
/*Table form*/
th, td{
    padding: 7px;
    text-align: center;
}
td input{
    width: 100%;
    border-radius: 16px;
    padding: 6px 10px;
}

.submit-note{
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}
