<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modalNotes.css">
    <link rel="stylesheet" href="../css/bootsrap/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-grid.min.css">
    <title>Ajout De Notes</title>
</head>
<body>
    <form action="#">
        <div class="container">
            <div id="modalNotes">
                <div id="modalNote-header" class="">
                    <div id="modalNote-header-1">
                        ETUDIANTS INSCRITS A L'UE XXXXX
                    </div>
                    <div id="modalNote-header-2">
                        <button class="btn-close">⨉</button>
                    </div>
                </div>
                <div id="modalNote-body" class="">
                    <table id="table-form">
                        <thead>
                            <th scope="col">N<sup>0</sup></th>
                            <th scope="col">Matricule (s)</th>
                            <th scope="col">Nom (s)</th>
                            <th scope="col">Contrôle Continu (CC)</th>
                            <th scope="col">Session Normale (SN)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="modalNote-footer" class="">
                    <button type="submit">AJOUTER LES NOTES</button>
                </div>
            </div>

            <div id="modalNotesRattrapage">
                <div id="modalNote-header" class="">
                    <div id="modalNote-header-1">
                        ETUDIANTS INSCRITS A L'UE XXXXX
                    </div>
                    <div id="modalNote-header-2">
                        <button class="btn-close">⨉</button>
                    </div>
                </div>
                <div id="modalNote-body" class="">
                    <table id="table-form">
                        <thead>
                            <th scope="col">N<sup>0</sup></th>
                            <th scope="col">Matricule (s)</th>
                            <th scope="col">Nom (s)</th>
                            <th scope="col">Contrôle Continu (CC)</th>
                            <th scope="col">Session Normale (SN)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                            <tr>
                                <td scope="row"é>1</td>
                                <td>KDS45</td>
                                <td>ALOUGOU EBEDE ZE JEAN-BOSCO</td>
                                <td>
                                    <input type="text" placeholder="Note CC">
                                </td>
                                <td>
                                    <input type="text" placeholder="Note SN">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="modalNote-footer" class="">
                    <button type="submit">AJOUTER LES NOTES</button>
                </div>
            </div>

        </div>
    </form> 
</body>
</html>